:root {
  --title:calc(26px + (11) * (100vw - 300px) / 1620);
  --tel:calc(18px + (11) * (100vw - 300px) / 1620);
  --tex:calc(10px + (5) * (100vw - 300px) / 1620);
  --color:#ffffff;
}
.no-scroll {
    overflow: hidden;
}
.page {
  margin: 0 auto 50px;
  max-width: 1920px;
  /* border: 1px solid red; */
}
.burger,.inline  {
 display: none;
}
.head {
  padding: 43px 510px 52px 360px;
  max-width: 1920px;
  height: 185px;
  background: url(../img/block_1/iron.jpeg) no-repeat center /cover;
  position: relative;
  top:0%;
}

.header,.header__logo,.header__contact,.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header {
  flex-wrap:wrap;
}
.header.hide {
  visibility: hidden;
}
.header__logo-foto {
  width: 77.26px;
  height: 89px;
}
.image {
  width:100%;
  height:100%;
  object-fit: contain;
}
.header__title {
  font-family: osreg,sans-serif;
  font-size:var(--title);
  line-height:1.3;
  letter-spacing: 0.05em;
  color:var(--color);
  text-transform: uppercase;
  width:320px;
  margin: 0 0 10px;
}
.header__text,.header__city {
  font-family:inter,sans-serif;
  font-size:var(--tex);
  line-height: 1.3;
  color:#FFFFFFCC;
}
.header__text {
  text-transform: uppercase;
}
.header__contact {
  max-width: 600px;
}
.header__tel {
  font-family: osreg,sans-serif;
  font-size:var(--tel);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  color:var(--color);
  white-space: nowrap;
  text-align: right;
}
.header__city {
  white-space: nowrap;
  text-align: right;
  color:#FFFFFFB2;
}
.btn {
  width: 204px;
  height: 58px;
  padding: 15px 20px;
  font-family:inter,sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #ffc901 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-position: 0;
  color: #000;
}
.what {
  width: 20px;
  height: 20px;
  fill:var(--color);
  animation: call 5s linear infinite;
}
.inline {
  font-family:inter,sans-serif;
  font-size: 14px;
  line-height:1;
  color:#FFFFFFCC;
  text-transform: capitalize;
}
.heart,.basket {
  width: 20px;
  height: 20px;
}
.cls-1:hover {
  fill:#ff0000;
}
.cls-2:hover {
  fill:#ff0000;
}
.basket {
  fill:#030104;
}
.basket:hover .basket__pa {
  fill:#ffc400;
}
.wrap {
  height: 185px;
  width: 580px;
  position: absolute;
  top: 0%;
  right: 0%;
}
.wrap__half1,.wrap__half2 ,.wrap__half3 ,.wrap__half4,.wrap__half5,.wrap__half6,.wrap__half7,.wrap__half8 {
  position: absolute;
  top: 0%;
  right:26%;
  width:207px;
  height:70px; 
}
.wrap__half2 {
  top: 0%;
  right: 0%;
  width:136px;
  height:70px;
}
.wrap__half3 {
  top: 0%;
  right: 0%;
  width:27px;
  height:180px; 
}
.wrap__half4 {
  top: 45%;
  right:0%;
  width:136px;
  height:102px; 
}
.wrap__half5 {
  top: 44.6%;
  right: 26%;
   width:205px;
  height:102px; 
}
.wrap__half6 {
  top: 45%;
  right: 64.5%;
  width:205px;
  height:103px; 
}
.wrap__half7 {
  top:0%;
  right:44.9%;
  width:206px;
  height:183px;
}
.wrap__half8 {
  top:-1%;
  right:6.8%;
  width:206px;
  height:183px;
}
.nav {
  padding: 15px 20px;
  max-width: 1920px;
  min-height: 50px;
  background: linear-gradient(180deg, #003471 0%, #212121 191.67%);
}
.nav.mob {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px;
    background: #000000ce;
    position: fixed;
    top:0;
    right: 0;
    flex-direction: column;
    gap: 30px;
    color: var(--color);
}
.nav__ul {
  margin: 0 auto;
  max-width: 800px;
}
.nav__ul.column {
  flex-direction: column;
}
.nav__link {
  font-family:open,sans-serif;
  font-size: 16px;
  line-height:1.6;
  color:var(--color);
  text-transform: capitalize;
  white-space: nowrap;
}
.nav__link:hover {
   color:#ffffff98;
}
/*======================================Media=======================================*/
@media (max-width:1780px) {
  .head {
    padding: 10px 510px 10px 360px;
  }
  .header {
    gap:10px
  }
}
@media (max-width:1530px) {
   .head {
    padding: 10px 500px 10px 200px;
  }
}
@media (max-width:1240px) {
   .head {
    padding: 10px 500px 10px 100px;
  }
}
@media (max-width:1140px) {
   .head {
    padding: 10px 500px 10px 50px;
  }
  .wrap__half1,.wrap__half6,.wrap__half7 {
    display: none;
  }
}
@media (max-width:900px) {
  .head {
    padding: 10px 50px 10px 50px;
  }
   .header{
     justify-content: center;
  }
  .wrap {
    display:none;
  }
}
@media (max-width:710px) {
  .burger {
    padding: 8px;
    width: 100%;
    height: 50px;
    display: flex;
     justify-content:flex-end;
  }
  .burger__wrap {
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:20px;
   }
  .inline {
    display: inline;
  }
  .head {
    padding: 26px 10px;
    min-height: 512px;
    background: url(../img/block_1/iron2.png) no-repeat center /cover;
  }
  .header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header__contact {
    flex-direction: column;
  }
  .header__tel {
    margin:0px 0 10px 0;
  }
  .header__title {
    width:100%;
  }
  .header__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav {
    display: none;
  }
  .menu {
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .line {
    width:100%;
    height: 3px;
    display: block;
    background: #030104;
    box-shadow: 0 10px 0 0 #000,0 -10px 0 0 #000;
    position: relative;
    transform: rotate(0deg);
    z-index: 2;
  }
  .line.vine {
    background: #ffffff;
    box-shadow: none;
    transform: rotate(45deg);
    transition: 1s ease-in-out;
  }
  .pine {
    content:"";
    width:100%;
    height: 3px;
    display: block;
    background:#ffffff;
    position: absolute;
    top: 8px;
    left: 0%;
    transform: rotate(0deg);
    transition: 2s ease-in-out;
    z-index: 0;
  }
  .pine.sine {
    transform: rotate(135deg);
    transition: 2s ease-in-out;
  }
}
@media (max-width:350px) {
  .header__title{
   white-space: nowrap;
  }
}
/*=============================================framekey==============================*/
@keyframes call {
    0% {
        transform: translate(0);
    }
    2% {
        transform: translate(0);
    }
    4% {
        transform: translate(0);
    }
    6% {
        transform: translateY(-1px);
    }
    8% {
        transform: translateY(1px);
    }
    10% {
        transform: translateY(-1px);
    }
    12% {
        transform: translate(0);
    }
    14% {
        transform: translate(0);
    }
    16% {
        transform: translate(0);
    }
    18% {
        transform: translate(0);
    }
    20% {
        transform: translate(0);
    }
    22% {
       transform: translate(0);
    }
    24% {
       transform: translate(0);
    }
    26% {
        transform: translate(0);
    }
    28% {
        transform: translate(0);
    }
    30% {
        transform: translate(0);
    }
    32% {
        transform: translate(0px);
    }
    34% {
        transform: translate(0);
    }
    36% {
        transform: translate(0);
    }
    38% {
        transform: translate(0);
    }
    40% {
        transform: translate(0);
    }
    42% {
        transform: translate(0);
    }
    44% {
        transform: translate(0);
    }
    46% {
        transform: translate(0);
    }
    48% {
        transform: translate(0);
    }
    50% {
        transform: translate(0);
    }
    52% {
        transform: translate(0);
    }
    54% {
        transform: translate(0);
    }
    56% {
        transform: translate(0);
    }
    58% {
        transform: translate(0);
    }
    60% {
        transform: translateX(-1px);
    }
    62% {
        transform: translateX(1px);
    }
    64% {
        transform: translate(0);
    }
    66% {
        transform: translate(0);
    }
    68% {
        transform: translate(0);
    }
    70% {
        transform: translate(0);
    }
    72% {
        transform: translate(0);
    }
    74% {
        transform: translate(0);
    }
    76% {
        transform: translate(0);
    }
    78% {
        transform: translate(0);
    }
    80% {
        transform: translate(0);
    }
    82% {
        transform: translate(0);
    }
    84% {
        transform: translate(0);
    }
    86% {
        transform: translate(0);
    }
    88% {
        transform: translate(0);
    }
    90% {
        transform: translate(0);
    }
    92% {
        transform: translate(0px);
    }
    94% {
        transform: translateX(0px);
    }
    96% {
        transform: translateX(0px);
    }
    98% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }}