@font-face {
    font-family: ;
    src:url() format(),
    url() format();
    font-weight: ;
}
@font-face {
    font-family: ;
    src:url() format(),
    url() format();
    font-weight: ;
}
@font-face {
    font-family: ;
    src:url() format(),
    url() format();
    font-weight: ;
}